@import '../../../style/color/color.scss';
@import '../../../style/typography/typography.scss';

.select-box {
  cursor: pointer;
  display: inline-block;
  padding: 0.3rem 2.5rem 0.5rem 2rem;
  font-size: 0.8rem;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  outline: none;
  background-color: white;
  color: $darkGray;
  appearance: none;
  line-height: 1.5;

  &__arrow {
    position: relative;
    &::after {
      content: '>';
      font: 18px 'Consolas', monospace;
      color: $darkGray;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      right: 9px;
      top: 0px;
      border-bottom: 1px solid #ddd;
      position: absolute;
      pointer-events: none;
    }

    &::before {
      content: '';
      right: 6px;
      top: 0px;
      width: 20px;
      height: 20px;
      position: absolute;
      pointer-events: none;
    }
  }

  &:focus {
    border-color: #c1c9d0;
  }
}
