@import '../../../style/color/color.scss';
@import '../../../style/typography/typography.scss';
a {
  text-decoration: none !important;
}
.ItemList {
  &__Category {
    text-align: left;
    margin-left: 30px;
    height: 12px;
    &-button {
      background-color: transparent;
      color: $darkGray;
      cursor: pointer;
      border: none;
      font-size: 20px;
      margin-left: 80px;
      &-activeLine {
        color: $main;
        // font-weight: bold;
        .ItemList__Category-button-box {
          width: 100%;
        }
      }
      &-box {
        width: 0px;
        background-color: $main;
        height: 5px;
        border-radius: 20px;
        transition: 0.3s;
      }
      &-active {
        width: 100%;
        background-color: $main;
        height: 5px;
        border-radius: 20px;
        transition: 0.3s;
      }
      &:hover {
        color: $main;
        // font-weight: bold;
        .ItemList__Category-button-box {
          width: 100%;
        }
      }
    }
  }

  &__List {
    overflow: auto !important;
    background-color: $backGround;
    width: 100%;
    height: 65vh;
    padding-top: 15px;
    padding-left: 15px;
    margin: 20px 0px 20px 0px;

    &-selectBox {
      background-color: $backGround;
      text-align: right;
      z-index: 10;
      margin-right: 10px;
      & * {
        margin-right: 5px;
      }
    }

    &-item {
      cursor: pointer;
      background-color: white;
      width: 90%;
      border-radius: 20px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
      padding: 30px;
      margin-bottom: 25px;
      transition: 0.3s;
      &:hover {
        background-color: rgba($color: white, $alpha: 0.5);
      }
      &:active {
        background-color: rgba($color: white, $alpha: 0.2);
      }
      &-title {
        // font-family: $APPLE_GOTHIC_EXTRABOLD !important;
        text-align: left;
        font-size: 20px;
        color: #000;
        outline: none;
      }
      &-content {
        text-align: left;
        margin-top: 10px;
        font-size: 12px;
      }
      &-day {
        float: right;
        position: relative;
        bottom: 55px;
        left: 5px;
        color: white;
        font-weight: bold;
        font-size: 12px;
        background-color: $main;
        width: 55px;
        height: 20px;
        border-radius: 10px;
        padding-top: 5px;
      }
      &-heart {
        float: right;
        position: relative;
        left: 57px;
        bottom: 10px;
        &-inline {
          float: right;
          position: relative;
          left: 2.5px;
          bottom: 10px;
        }
      }
    }
  }
}

.NoLength {
  margin-top: 23%;
  font-size: 18px;
  color: $darkGray;
}
