@import '../../style/color/color.scss';
@import '../../style/typography/typography.scss';

.Home {
  &__Header {
  }
  &__Content {
    align-items: center;
    justify-content: center;
    text-align: center;
    &-itemList {
      width: 60vw;
      height: 100%;
      position: relative;
      left: 7rem;
      margin-top: 5%;
    }
    &-chart {
      width: 25vw;
      position: relative;
      left: 71%;
      top: -82vh;
    }
  }
}
