@import '../../../style/color/color.scss';
@import '../../../style/typography/typography.scss';

.ButtonStyle {
  background-color: $main;
  font-family: $APPLE_GOTHIC_MIDEUM;
  font-size: 14px;
  border: none;
  color: white;
  width: 90px;
  height: 34px;
  border-radius: 10px;
  transition: 0.3s;

  &:hover {
    background-color: rgba($color: $main, $alpha: 0.7);
    box-shadow: 0.19rem 0.19rem rgba($main, 0.2);
  }

  &:active {
    background-color: rgba($color: $main, $alpha: 0.4);
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}
